<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Dashboard App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header>
    <ion-toolbar>
      <ion-title size="large">All Employees</ion-title>
      <ion-list>
        <ion-item>
          <ion-label><a href="/employee"> >>Employee List</a></ion-label>
        </ion-item>
        <ion-item>
          <ion-label><a href="/slides"> >>Swiper Slider</a></ion-label>
        </ion-item>
      </ion-list>
    </ion-toolbar>
  </ion-header>
</ion-content>
