<ion-header>
  <ion-toolbar>
    <ion-title>Slides</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="margin-top: 30px;">
  <swiper
    [autoplay]="true"
    [keyboard]="true"
    [pagination]="true"
    [scrollbar]="true"
    [zoom]="true"
  >
    <ng-template swiperSlide>
      <ion-img
        src="https://docs-demo.ionic.io/assets/madison.jpg"
        alt="The Wisconsin State Capitol building in Madison, WI at night"
      ></ion-img>
    </ng-template>
    <ng-template swiperSlide
      ><ion-img
        src="https://docs-demo.ionic.io/assets/madison.jpg"
        alt="The Wisconsin State Capitol building in Madison, WI at night"
      ></ion-img
    ></ng-template>
    <ng-template swiperSlide
      ><ion-img
        src="https://docs-demo.ionic.io/assets/madison.jpg"
        alt="The Wisconsin State Capitol building in Madison, WI at night"
      ></ion-img
    ></ng-template>
  </swiper>
</ion-content>
